#product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.product-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 250px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
}

/* .product-item h3 {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #333;
}

.product-item p {
  font-size: 1.2rem;
  color: #ff5722;
  margin: 10px 0;
} */

.product__item-info {
  display: flex;
  justify-content: space-between;
}

.product__item-name {
  font-size: 1.3rem;
}

.product__item-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-to-cart {
  display: inline-block;
  padding: 6px;
  border-radius: 4px;
  background-color: #cdebbc;
  border: none;
  cursor: pointer;
  transition: 0.1s transform;
}

.add-to-cart:hover {
  transform: scale(0.97);
}

.product__item-price {
  font-size: 1.3rem;
}

.add-to-cart img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 8px;
  vertical-align: middle;
}

.success__message {
  position: absolute;
  top: 5rem;
  left: 0.3rem;
  transition: 0.3s left;
  background-color: #89c74a;
  color: white;
  padding: 1rem;
  border-radius: 0.3em;
  font-weight: bold;
}

.hidden {
  left: -100%;
}
