/* Global styles */
body {
  font-family: "Segoe UI", "Roboto", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  margin: 0;
  padding: 0;
}

.checkout-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.customer-information {
  flex: 1;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.customer-information h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.customer-information input[type="text"],
.customer-information input[type="email"],
.customer-information input[type="tel"] {
  width: 70%;
  padding: 16px;
  margin-bottom: 10px;
  margin-top: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.customer-information input[type="text"]:focus,
.customer-information input[type="email"]:focus,
.customer-information input[type="tel"]:focus {
  outline: none;
  border-color: #dfffc0;
}

.customer-information input::placeholder {
  color: #777;
}

.customer-information input:hover {
  border-color: #666;
}

.customer-information input:valid {
  border-color: #00cc00;
}
.customer-information textarea {
  width: 70%;
  padding: 16px;
  margin-bottom: 10px;
  margin-top: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: vertical;
}

.customer-information textarea:focus {
  outline: none;
  border-color: #dfffc0;
}

/* Order Summary section */
.order-summary {
  flex: 1;
  padding: 20px;
}

.order-summary h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.cart-item {
  margin-top: 20px;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item img.item-img {
  max-width: 80px;
  max-height: 80px;
  margin-right: 10px;
}

.cart-item img.delete-item {
  max-width: 30px;
  max-height: 30px;
  margin-right: 20px;
}

.cart-item p {
  font-size: 16px;
  margin: 0;
}

.quantity-control {
  display: flex;
  align-items: center;
}

.quantity-control button {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #333;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  padding: 5px 10px;
}

.quantity-control input {
  width: 40px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 0; /* Removed margin */
  padding: 5px;
}

.cart-item .sub-total {
  font-weight: bold;
  font-size: 16px;
  margin-left: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.quantity-control button:hover {
  background-color: #ddd;
}

.checkout-button {
  background-color: #89c74a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.checkout-button:hover {
  background-color: #74aa3e;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.modal-content {
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 1;
}
