@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fdd670;
  color: #ff6f71;
}

.logo-icon-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #fff;
}

.menu-icon {
  font-size: 24px;
  margin-right: 10px;
}

.logo h3 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: inherit; /* Inherit the link color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  padding: 0;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #ff6f71;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ff6600;
}

.cart-logo {
  font-size: 32px;
  width: 32px;
  height: 32px;
  color: #ff6f71;
}
