@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;

  margin: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #dfffc0;
  color: #89c74a;
}

.logo-icon-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #fff;
}

.menu-icon {
  font-size: 24px;
  margin-right: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  padding: 0;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #89c74a;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ff6600;
}

.cart-logo {
  font-size: 32px;
  width: 32px;
  height: 32px;
  color: #89c74a;
}
